<h2>Books list</h2>

<div>
  <button [disabled]="page === 0" (click)="setBookPart(page-1)">Preview page</button>
  <button [disabled]="page*limit > totalElements" (click)="setBookPart(page+1)">Next page</button>
</div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Photo</th>
      <th>Kind</th>
      <th>Link</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of bookToShow">
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td><img [ngStyle]="{height: '50px'}" [src]="book.simple_thumb" [alt]="book.title"></td>
      <td>{{book.kind}}</td>
      <td><a target="_blank" [href]="book.url">Book site</a></td>
      <td><a [routerLink]="'details/' + book.slug">Details</a></td>
    </tr>
  </tbody>
</table>

